body{

    padding: 0;
    margin: 0;
    width: 100%;
}
#nav {
    position: fixed;
    width: 100%;
}

#nav ul{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    padding-right: 50px;
    text-align: center;
    padding-bottom: 20px;
}

#nav ul li{
    /* float: right; */
    display: inline;
    padding-top: 20px;
}

li a{
    /* display: inline-block; */
    color: teal;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 18px;
}

li a:hover{
    background-color: lightslategray;
    color: white;
}

#logo{
    /* float: left; */
    text-align: center;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

#logo a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.container{
    background-image: url(./kiran-ck-UkO7K1CPFS8-unsplash.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}

.container{
    text-align: center;
    padding-top: 130px;
    font-size: 4,3rem;
    text-transform: uppercase;
    word-spacing: 3px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;

}

#text-under-picture{
    width: 100%;
    height: 50vh;
    display: flex;
    /* margin-top: 50px; */
    font-size: 16px;
    justify-content: space-around;
    padding-top: 100px;
}

.text-under-picture h1{
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-decoration: underline;
}

.text-under-picture p{
    font-family: 'Poppins', sans-serif;
    font-size: 1,3rem;
    padding-top: 15px;
}

.text-under-picture1{
    width: 40%;
    float: left;
    padding: 20px 20px 0px 70px;;

}

.text-under-picture2{
    width: 40%;
    float: right;
    padding: 20px 20px 0px 40px;
}


#What-we-do{
    width: 100%;
    height: 70vh;
    display: flex;
    padding-top: 100px;
    justify-content: space-around;
}

.What-we-do h1{
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-decoration: underline;
}

.What-we-do1 p{
    font-size: 16px;
    padding-top: 20px;
    line-height: 35px;
}

.What-we-do1{
    width: 40%;
    height: 100vh;
    padding: 0px 20px 0px 70px;

}

.What-we-do2{
    width: 40%;
    height: 100vh;
    padding: 0px 20px 0px 70px;
}

.What-we-do2 p{
    font-size: 16px;
    padding-top: 20px;
    line-height: 35px;
}

#About-us{
    width: 100%;
    height: 50vh;
    display: flex;
    padding-top: 100px;
    justify-content: space-around;
}

.About-us h1{
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: bolder;
    text-decoration: underline;
}

.About-us1 p{
    font-size: 1,3rem;
    padding-top: 20px;
    line-height: 35px;
}

.About-us1{
    width: 40%;
    height: 100vh;
    float: left;
    padding: 0px 20px 0px 60px;
}

.About-us2{
    width: 40%;
    height: 100vh;
    padding: 0px 20px 0px 70px;
    float: right;
}

.About-us2 p{
    font-size: 1,3rem;
    padding-top: 20px;
    line-height: 35px;
}

#Contact-us{
    width: 60%;
    height: 60vh;
    margin: auto;
}

.Contact-us h1{
    text-align: center;
}

.inp1{
    width: 45%;
    height: 10vh;
    float: left;
    margin-top: 30px;
}

.inp2{
    width: 45%;
    height: 10vh;
    float: right;
    margin-top: 30px;
}

.inp1 input{
    width: 100%;
    height: 40%;
    padding: 10px;
}

.inp2 input{
    width: 100%;
    height: 40%;
    padding: 10px;
}

textarea{
    width: 100%;
    margin-top: 20px;
    padding: 12px;
}

.button{
    width: 20%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 60px;
    margin-right: 20px;
    font-weight: bold;
    background-color: lightslategray;
    color: white;
}



@media only screen and (max-width: 760px) {

    #What-we-do{
        height: 95vh;
       
    }
 
}


@media only screen and (max-width: 992px) {

    #What-we-do{
        height: 90vh;
       
    }
 
}

@media only screen and (max-width: 500px) {

    #What-we-do{
        height: 90vh;
    }
        
    #text-under-picture{
    height: 70vh;

    }

    #What-we-do{
    height: 180vh;
    }

    #About-us{
     height: 80vh;
    }
 
}

@media only screen and (max-width: 750px) {

#text-under-picture{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;

}

.text-under-picture h1{
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-decoration: underline;
}

.text-under-picture p{
    font-family: 'Poppins', sans-serif;
    font-size: 1,3rem;
    padding-top: 15px;
}

.text-under-picture1{
    width: 80%;
    float: left;
    padding: 20px 20px 0px 30px;;

}

.text-under-picture2{
    width: 80%;
    float: left;
    padding: 20px 20px 0px 30px;
}


#What-we-do{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.What-we-do h1{
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-decoration: underline;
}

.What-we-do1 p{
    font-size: 16px;
    padding-top: 20px;
    line-height: 35px;
}

.What-we-do1{
    width: 80%;
    float: left;
    padding: 0px 20px  0px 30px;
    height: auto;

}

.What-we-do2{
    width: 80%;
    float: left;
    padding: 0px 20px  0px 30px;
    height: auto;
}

.What-we-do2 p{
    font-size: 16px;
    padding-top: 20px;
    line-height: 35px;
}

#About-us{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.About-us h1{
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: bolder;
    text-decoration: underline;
}

.About-us1 p{
    font-size: 1,3rem;
    padding-top: 20px;
    line-height: 35px;
}

.About-us1{
    width: 80%;
    float: left;
    padding: 0px 20px 0px 30px;
    height: auto;
}

.About-us2{
    width: 80%;
    float: left;
    padding: 0px 20px 0px 30px;
    height: auto;
}

.About-us2 p{
    font-size: 1,3rem;
    padding-top: 20px;
    line-height: 35px;
}

#Contact-us{
    width: 60%;
    height: 60vh;
    margin: auto;
}

.Contact-us h1{
    text-align: center;
}

.inp1{
    width: 45%;
    height: 10vh;
    float: left;
    margin-top: 30px;
}

.inp2{
    width: 45%;
    height: 10vh;
    float: right;
    margin-top: 30px;
}

.inp1 input{
    width: 100%;
    height: 40%;
    padding: 10px;
}

.inp2 input{
    width: 100%;
    height: 40%;
    padding: 10px;
}

textarea{
    width: 100%;
    margin-top: 20px;
    padding: 12px;
}

.button{
    width: 20%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 60px;
    margin-right: 20px;
    font-weight: bold;
    background-color: lightslategray;
    color: white;
}





}